html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Verdana, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: #203040;
}

main {
  grid-area: main;
  padding: 1rem;
}

footer {
  grid-area: footer;
  background-color: #203040;
  color: white;
}

/* Common */
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin-top: 1rem;
}

input,
textarea,
select,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem gray solid;
  font-size: 1.6rem;
  font-family: Verdana, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: #f8f8f8;
  cursor: pointer;
}

input:hover,
textarea:hover,
select:hover,
button:hover {
  border: 0.1rem rgb(83, 81, 81) solid;
}

a {
  text-decoration: none;
}

a:hover {
/* color: orange; */
}

header a {
  color: white;
  padding: 1rem;
}

.row.center {
  justify-content: center;
}

.row.top {
  align-items: flex-start;
}

a.brand {
  font-weight: bold;
  font-size: 3rem;
  color: white;
}

.badge {
  background-color: #f02020;
  border-radius: 50%;
  font-size: 1.4rem;
  padding: 0.2rem 0.7rem;
  color: #ffffff;
  margin-left: 0.2rem;
}

/* ----- */
img {
  border-radius: 0.5rem;
}

img.small {
  max-width: 5rem;
  width: 100%;
}

img.medium {
  width: 100%;
  max-width: 29rem;
}

img.large {
  width: 100%;
}

.card {
  border-radius: 0.5rem;
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  margin: 1rem;
}

.card-body {
  padding: 1rem;
}

.card-body > * {
  margin-bottom: 0.5rem;
}

/* Rating */
.rating span {
  color: yellow;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #404040;
}

.price {
  font-size: 2rem;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

.col-1 {
  flex: 1 1 25rem;
}

.col-2 {
  flex: 2 1 50rem;
}

.min-30 {
  min-width: 30rem;
}

.success {
  color: green;
}

.danger {
  color: red;
}

button.primary {
  background-color: tomato;
}

button.disabled {
  background-color: gray;
  cursor: not-allowed;
}

button.block {
  width: 100%;
}

button.small {
  font-size: 1.2rem;
}

/* Alert */
.alert {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid transparent;
}

.alert-info {
  color: blue;
  background-color: #e0e0ff;
}

.alert-danger {
  color: red;
  background-color: #ffe0e0e0;
}

/* Form */
form {
  max-width: 60rem;
  margin: 0 auto;
}

form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

form label {
  margin: 1rem 0;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 0.5rem;
  left: 10px;
  border-radius: 5px;
  padding: 1rem;
  z-index: 1;
  background-color: #203040;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.loading {
  /* error loading ??? */
  display: block !important;
}

/* Checkout */

.checkout-steps {
  justify-content: start;
  align-items: flex-start;
}

.checkout-steps > div {
  border-top: 0.3rem solid gray;
  color: gray;
  flex: 1;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
}

.checkout-steps > div.active {
  color: #f08000;
  border-top-color: currentColor;
}

.choose_map {
  background-color: gray !important;
}

input[type="radio"] {
  margin-right: 10px;
}

/* Form */
table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  border: 0.1rem solid #c0c0c0;
  text-align: left;
  padding: 0.5rem;
}

table tbody:nth-of-type(odd) {
  background-color: #f4f4f4;
}

table button {
  margin: 0 0.2rem;
}

